
p:last-child,
.footer {
    color: white;
}
p {
    color: blue;
}

p.text-center {
    color: blue; /* Set your desired color */
}
p.card-text {
    color: blue;
}



.container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    content: center;
    }
.container .row .col-md-4 {
     margin-right: 0px
}

.container:last-child {
    max-width: 600px;
}




